@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
background: linear-gradient(
  180deg,
  #FFE3E3 0%,
  #D3CCE9 100%
);

font-family: 'Poppins', sans-serif;
}
.navbar {
  background: linear-gradient(
    126deg,
    #DFA8FF 0%,
    #B7C8DA 29%,
    #BFD0D6 39%,
    #DDB2DC 54%,
    #DDD6F3 100%
  );
  
}
