@import "tailwindcss";

@theme {
  --text-h1: 40px;
  --text-h2: 35px;
  --text-h3: 30px;
  --text-body: 20px;
  --text-body-md: 18px;
  --text-body-sm: 16px;
}
:root {
  --background: linear-gradient(
    180deg,
    #FFE3E3,
    #D3CCE9
  );
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(
      180deg,
      #FFE3E3,
      #D3CCE9
    );
    --foreground: #ededed;
  }
}

body {
  min-height: 100vh;
  background-image: linear-gradient(
    180deg,
    #FFE3E3 0%,
    #D3CCE9 100%
  );
  background-repeat: repeat-y;
  background-size: 100% 100vh;

  font-family: 'Poppins', sans-serif;
}
.navbar {
  background: linear-gradient(
    126deg,
    #DFA8FF 0%,
    #B7C8DA 29%,
    #BFD0D6 39%,
    #DDB2DC 54%,
    #DDD6F3 100%
  );
  
}
@keyframes blink-caret {
  0%, 45% {
    opacity: 1;
  }

  50%, 100% {
    opacity: 0;
  }
}

.blink {
  animation: blink-caret 1.1s step-end infinite;
}
.workspace-swiper .swiper-pagination-bullet {
  background: #B0489C;
  opacity: 0.4;
}
.workspace-swiper .swiper-pagination-bullet-active {
  opacity: 1;
}